<%- include("partials/header.ejs") %>
<%- include("partials/navbar") %>

<a href="/posts/published"><button class="cursor-pointer duration-200 hover:scale-125 active:scale-100" title="Go Back">
    Go Back
   </button></a>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">
        <!-- Blog post header -->
        <div class="py-8">
            <h1 class="text-3xl font-bold mb-2"><%=  data.title %></h1>
            <p class="text-gray-500 text-sm">Published on <%= data.createdAt.toDateString() %></p>
        </div>

        <!-- Featured image -->
        <img src="https://images.unsplash.com/photo-1493723843671-1d655e66ac1c" alt="Featured image" class="w-full h-auto mb-8">

        <!-- Blog post content -->
        <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl mx-auto">
            <article class="article">
                <%= data.body  %>
                </article>
        </div>
    </div>
</div>


 <%- include("partials/footer.ejs") %>