<%- include("partials/header.ejs") %>
<%- include("partials/navbar") %>

<a href="/dashboard"><button class="cursor-pointer duration-200 hover:scale-125 active:scale-100" title="Go Back">
    Go Back
   </button></a>

<div>
  <% posts.forEach(post => { %>
    <div class="flex flex-col p-5 lg:px-48 lg:py-11">
      <div class="bg-gray-100 p-5 mb-10">
        <a href="/post/<%= post.id %>">
            <h1 class="font-bold text-2xl mb-2"><%= post.title %></h1>
         </a>
         <div class="flex gap-3">
            <a href="/edit-post/<%= post.id %>"><button
                class="text-slate-800 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded-l-lg font-medium px-4 py-2 inline-flex space-x-1 items-center">
                <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>
                </span>
                <span class="md:inline-block">Edit</span>
            </button></a>
    
            <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete" class="inline-flex items-center px-4 py-2 bg-red-600 transition ease-in-out delay-75 hover:bg-red-700 text-white text-sm font-medium rounded-md hover:-translate-y-1 hover:scale-110">
            </form>
    
          </div>
         
      </div>
    </div>
  <% }) %>
</div>

<% if (nextPage !== null) { %>
 <a href="/?page=<%= nextPage %>">view older posts</a>
<% } %>

<%- include("partials/footer.ejs") %>
