<%- include("partials/header.ejs") %>
<%- include("partials/navbar") %>

<div class="max-w-3xl mx-auto text-center mt-12">
    <h1 class="text-4xl font-bold text-gray-900 leading-tight mb-2 border-b-2 border-gray-500 pb-2">
      Search Results
    </h1>
  </div>

  <section>
    <div>
  <% data.forEach(post => { %>
    <div class="flex flex-col p-5 lg:px-48 lg:py-11">
      <div class="bg-gray-100 p-5 mb-10">
          <h1 class="font-bold text-2xl mb-2"><%= post.title %></h1>
          <p class="my-3"><%= post.content %></p>
          <p><%= post.createdAt.toDateString() %></p>
         <a href="/post/<%= post.id %>">
          <button class="text-white font-semibold bg-blue-600 hover:bg-blue-800 p-2 my-1 rounded">Read More...</button>
         </a>
      </div>
    </div>
  <% }) %>
</div>
  </section>

  <%- include("partials/footer.ejs") %>